# 禁止可执行文件上传
*.exe

# idea IDE 不加入git中
*.idea

*.vscode

# 本地测试忽律文件
/ign-*
*_debug_output_*

# ------------------+
# [python]  --------+
# ------------------+
*__pycache__*




# ------------------+
# [es/js/nodejs]  --+
# ------------------+
*node_modules*
*package-lock.json